<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GJ9QR11NGW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GJ9QR11NGW');
</script>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Page Not Found | Imagine Shelter</title>

<meta
    name="description"
    content="Imagine Shelter is a safe place to anonymously share your thoughts, read stories from others, and book private listening sessions without judgement.">

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<link rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='favicon.png') }}">

</head>

<body>

<section class="legal-section">

<div class="container">

<div class="legal-card" style="text-align:center;">

<h1>🌿</h1>

<h1>Page Not Found</h1>

<p>

The page you're looking for doesn't exist.

</p>

<p>

Let's help you find your way back.

</p>

<br>

<a href="/"
class="primary-btn">

Return Home

</a>

</div>

</div>

</section>

</body>

</html>